# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class

# IDEs
.idea/
.vscode/
*.iml

# Node
node_modules/
**/node_modules/
dist/
.next/
out/
coverage/

# React Native / Expo
.expo/
.expo-shared/
ios/Pods/
*.expo

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*
config/*.local.*

scripts/